<div class="params">
  <%= params %>
</div>

<%= @booking.flight.from_airport.airport %> -->
<%= @booking.flight.to_airport.airport %>, 
<%= @booking.flight.departure.strftime('%A - %H:%M') %>, 
<%= @booking.flight.duration %> hours
<% @booking.passengers.each do |passenger| %>
  <p>
    Name: <%= passenger.name %><br>
    Email: <%= passenger.email %>
  </p>
<%= link_to 'Preview your email', '/rails/mailers/passenger_mailer/confirmation_email' %>
<% end %>
